#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#datas {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid rgb(243, 243, 243);
  width: 100%;
}

#datas td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#datas tr:nth-child(even){background-color: #ffffff;}

#datas tr:hover {background-color: #ddd;}

#datas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0cd312;
  color: rgb(248, 248, 248);
}